# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Database / local files
# ===============================
*.sqlite3
*.db

# ===============================
# Alembic
# ===============================
alembic/versions/*.pyc

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / Dist
# ===============================
build/
dist/
*.egg-info/